body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.picture{
  position: relative;
  height: 100vh;
}




.textbox{
 
  background-color: #181b36;
  padding: 6rem;
  padding-top: 0.75rem;
  color: aliceblue;
}
.intropara{
  font-size: x-large;
  letter-spacing: 2px;
}
.head{
  font-size:5rem;
  text-align: center;

}
.card-img{
  height: 10rem;
  width: 10rem;
 
}
.card{
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 1rem;
  
  background-color: #376797;
  height: 15rem;
  width: 100%;
  width: 11rem;

  
}
.card-info{
  background-color: #1E2952;
  height: 5rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1.2rem;
}
.cards{
  
  background-color: #36457c;
  height: 15rem;
  width: 10rem;
}
.see-but{
  width: 100%;
  border-radius: 0.5rem;
  height: 90%;
  margin-right: 0.5rem;
}
.card-title{
  font-size: large;
  padding: 0.5rem;
  color: yellow;
}
.card-place{
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-hold{
  display: flex;
  align-items: center;
}
