.navbar {
    background-color: #050436;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
 
.logo-container {
    flex: 1;
  }
  
  .logo {
    max-width: 5rem; /* Adjust the size as needed */
    height: auto;
    border-radius: 40%; /* Make it circular */
    margin-left: -30rem;
  }
  
  .tabs-container {
    flex: 1;
    text-align: right;
  }
  
  .tabs {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .tabs li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .tabs a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .tabs a:hover {
    text-decoration: underline;
  }